@import "./normalize.css"

color-left = #FD500D
color-right = #FF3535 


background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
  background-color startColor
  if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
    background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
  background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  
*, *:after, *:before
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  -webkit-padding-start 0
  -webkit-padding-after 0
  -webkit-padding-before 0
  -webkit-padding-end 0
  margin 0 
  padding 0

html 
  overflow-x hidden
html, body, #intro
  //height 100%
  width 100%
  
body 
  font-family myriad pro
  font-size 16px
  line-height 21px
  color #222
  //-webkit-transform translate3d(0,0,0)
  //-moz-transform translate3d(0,0,0)
  //-ms-transform translate3d(0,0,0)
  //-o-transform translate3d(0,0,0)
  //transform translate3d(0,0,0)  

a
  text-decoration none
  color #222
  
p, ul
  font-size 14px
  line-height 21px
  margin-bottom 14px
   
h2 
  font-size 16px
  font-weight 600
  margin-bottom 7px

i
  cursor pointer
  margin-right 10px
  &:hover
    color blue
    -webkit-transition color .2s ease
    -moz-transition color .2s ease
    -ms-transition color .2s ease
    -o-transition color .2s ease
    transition color .2s ease 
img
  width 100%
  height auto
  margin-bottom 20px
  border-radius 2px
  moz-border-radius 2px
  webkit-border-radius 2px
  box-shadow 0 2px 8px rgba(0, 0, 0, 0.15)
  
.container 
  width 100%
  height 100%

menu 
  position fixed
  width auto
  height 100%
  z-index 30
  left 0px
  top 50px
  .top-menu 
    padding 12px 0 12px 100px
    //background linear-gradient(to right,#fff 200px,rgba(255,255,255,0) 400px)
    //width 600px
    //transition background 200ms linear
   
#controls 
  position relative
  width 100px //109
  height 30px // 38
  z-index 30
  border 1px solid #e5e5e5
  //background-color rgba(255,255,255, 1)
  -webkit-border-radius 5px 
  -moz-border-radius 5px
  border-radius 5px 
  #navigate-forward 
    opacity 1
    position absolute
    padding 0
    border 0 
    right 0px
    cursor pointer
  #navigate-back 
    opacity 1
    position absolute
    padding 0
    border 0 
    left 0
    cursor pointer

  .hidden
    opacity 0
    -webkit-transition all .2s ease
    -moz-transition all .2s ease
    -ms-transition all .2s ease
    -o-transition all .2s ease
    transition all .2s ease 
  .seen
    opacity 1
    -webkit-transition all .2s ease
    -moz-transition all .2s ease
    -ms-transition all .2s ease
    -o-transition all .2s ease
    transition all .2s ease    

   

// BACKGROUNDS & PROJECT SPECIFIC CSS
.home-bg
.horizontal-gradient 
  background color-left
  background -moz-linear-gradient(left, color-left 0%, color-right 100%)
  background -webkit-gradient(linear, left top, right top, color-stop(0%, color-left), color-stop(100%, color-right))
  background -webkit-linear-gradient(left, color-left 0%, color-right 100%)
  background -o-linear-gradient(left, color-left 0%, color-right 100%)
  background -ms-linear-gradient(left, color-left 0%, color-right 100%)
  background linear-gradient(to right, color-left 0%, color-right 100%)

.bg-global-lives-project
  background-color #2b2b2b
  color white
  .cta 
    &:hover
      color #222
  
.bg-thingsthings 
  background-color turquoise
  .cta 
    &:hover
     color turquoise !important
  
.global-lives-project 
  color white

    
.menu-global-lives-project
  background linear-gradient(to right, rgba(0,0,0,1) 200px,rgba(0,0,0,0) 400px) !important
  transition background 0ms linear
  
.bg-pictage-inc
  background white
  color #222
  
.bg-homme
  background white
.bg-home
  background url('http://p.michaelepierce.com/img/feb%2017%20(9).JPG')
  background-size cover
  opacity 1
  transition opacity .5s ease
  -o-transition opacity .5s ease
  -moz-transition opacity .5s ease
  -webkit-transition opacity .5s ease

//// END BACKGROUNDS

// LOADING SPINNER
#spinnerWrap, #intro-text
  position absolute
  left 50%
  top 50%
  z-index 99

#spinnerWrap
  left 100px
  top 250px
  width 48px
  height 48px
  opacity 1
  &.fadeOut
    opacity 0

#spinner
  position relative
  width 48px
  height 48px
  display block
  background-image url('http://michaelepierce.com/out/spinner@2x_red.png')
  background-size 48px 48px
  -webkit-animation-name spin
  -webkit-animation-duration .8s
  -webkit-animation-iteration-count infinite
  -webkit-animation-fill-mode forwards
  -webkit-animation-timing-function linear
  -moz-animation-name spin
  -moz-animation-duration .8s
  -moz-animation-iteration-count infinite
  -moz-animation-fill-mode forwards
  -moz-animation-timing-function linear

@keyframes spin
  0% 
    -webkit-transform rotateZ(0deg)

  100%
    -webkit-transform rotateZ(360deg)
    -moz-transform rotateZ(360deg)
    -o-transform rotateZ(360deg)

////// END LOADING SPINNER 
#intro
  position relative
  height auto
  min-height 100%
  
#intro-text
  color white
  width 300px
  height auto
  margin-left -150px
  margin-top -100px
  text-align center

.intro-detail
  text-align justify

#content
  width 628px
  margin 0 auto
  padding-top 162px
  padding-bottom 100px

  
#top
  width 100%
  height 262px
  opacity 1 
  transition opacity .5s ease
  -o-transition opacity .5s ease
  -moz-transition opacity .5s ease
  -webkit-transition opacity .5s ease
 
#left 
  width 300px
  margin-right 21px
  float left 
  opacity 1
  margin-top -8px


#right
  width 300px
  margin-left 333px
  position fixed
  
  

.project
  padding 250px 0

.cta 
  cursor pointer
  width 100px
  height 36px
  border 3px solid #0000ff
  border-radius 5px
  color #0000ff
  padding 6px 32px 5px 32px    
  transition all .2s ease
  -o-transition all .2s ease
  -moz-transition all .2s ease
  -webkit-transition all .2s ease     
  &:hover
    color white
    background-color #00f
    transition all .2s ease
    -o-transition all .2s ease
    -moz-transition all .2s ease
    -webkit-transition all .2s ease    


// ANIMATIONS 

.animate.ng-animate
  -webkit-transition opacity 1s ease
  transition opacity 1s ease



.animate.ng-leave.ng-leave-active,
.animate.ng-enter
  opacity 0

.animate.ng-leave,
.animate.ng-enter.ng-enter-active
  opacity 1
  
[ui-view]
  height 100%
  position absolute
  width 100%

.ui-view-container
  position relative
  height 100%
  width 100%
  
[ui-view].ng-enter,
[ui-view].ng-leave
  transition-timing-function linear
  transition-duration 200ms
  transition-property opacity

  
[ui-view].ng-enter
  opacity 0
  &.ng-enter-active
    opacity 1

[ui-view].ng-leave
  opacity 1
  &.ng-leave-active
    opacity 0


//////
/*
[ui-view].ng-enter, [ui-view].ng-leave
  position absolute
  left 0
  right 0
  -webkit-transition opacity .5s ease-in-out
  -moz-transition opacity .5s ease-in-out
  -o-transition opacity .5s ease-in-out
  transition opacity .5s ease-in-out

// This is the class that will be animated *FROM* when a new [ui-view] is added 
[ui-view].ng-enter
  opacity 0
  -webkit-transform tramslate3d(0.5, 0.5, 0.5)
  -moz-transform tramslate3d(0.5, 0.5, 0.5)
  transform tramslate3d(0.5, 0.5, 0.5)

// This is the class that will be animated *TO* when a new [ui-view] is added 
[ui-view].ng-enter-active
  opacity 1
  -webkit-transform tramslate3d(1, 1, 1)
  -moz-transform tramslate3d(1, 1, 1)
  transform tramslate3d(1, 1, 1)

// This is the class that will be animated *FROM* when a [ui-view] is removed 
[ui-view].ng-leave
  opacity 1
  -webkit-transform translate3d(0, 0, 0)
  -moz-transform translate3d(0, 0, 0)
  transform translate3d(0, 0, 0)

//This is the class that will be animated *TO* when a [ui-view] is removed
[ui-view].ng-leave-active
  opacity 1
  -webkit-transform translate3d(0, 0, 0)
  -moz-transform translate3d(0, 0, 0)
  transform translate3d(0, 0, 0)
  */
  