main#intro.about
  section#content.about-div
    h2 Welcome,
    img(src="images/me_web-color.png" style="box-shadow:none;float:right;width: 175px;margin: 0 0 10px 10px;")
    p Since college, I've worked with numerous local to medium-sized businesses. I can focus on your entire brand or a few lines of code.
    p 
      i California:
      | The Global Lives Project, Merchant Guru, InvoiceASAP, Pictage Inc., Poliça
    p 
      i Madison: 
      | Orpheum Theatre Madison, Boys and Girls Club Dane County, Madison Trust for Historic Preservation, Celia Donnelly, Meg L. Fransee, Underground Food Collective, Dane County Music Instruction, Journal of Consumer Research, Keturi Legal, Dragonfly Lounge, Downtown Productions LLP, Muse Independent Styling, J. Taylor's Antiques, Nottingham Cooperative Inc., Pitch Interactive Inc., Epaulette, Slow Food Madison, Daily Cardinal, Revolution Cycles, Tegan Nia Swanson
    p 
      i Minneapolis: 
      | McSweeney/Langevin, Minnesota Mulch and Soil, Totally Gross National Product – Pony Bwoy
    p
      b Testimonial: <br>
      | "Michael arrived just at the right time and jumped into a high-pressure project with tight deadlines and figured out exactly where he could help. He dazzled the team by figuring out ways to use Google Analytics that we had never previously leveraged. He used this to provide weekly web analytics reports with campaign specific strategic insights. His willingness to take on a broad range of tasks was impressive, and he managed to solve everything from graphic design glitches to PHP and CSS issues we were having on our website. He is a hard worker and a great person to have on your team." <br> - 
      a(href="https://www.linkedin.com/profile/view?id=9077757&authToken=ZePq" target="_blank") David Evan Harris
      | , Executive Director, Global Lives Project
    ul 
      b Technology:
      li HTML - Jade
      li Javascript - Grunt, Bower, Node/Express, Angular, jQuery
      li CSS - Sass, Stylus, Bootstrap, Mobile Responsive
      li MongoDB, MySQL
      li Git, SVN
      li Magento
      li Wordpress 
      li Adobe Creative Suite
      li MacBook Pro Retina
      li Canon EF 24-105mm f/4 L IS USM
    ul 
      b Education:
      li University of Wisconsin - Madison -  B.A. Marketing & Philosophy
      li Vienna University of Economics and Business
