section
  form(name="form", ng-submit="register(form)" novalidate)
    label Name:
      input(type="text", name="name", ng-model="team.name" required)
    label City:
      input(type="text", name="city", ng-model="team.city" required)
    label Players:
      input(type="text", name="Player 1", ng-model="players.p1" required) 
      input(type="text", name="Player 2", ng-model="players.p2" required)
      input(type="text", name="Player 3", ng-model="players.p3" required)
    button(type="submit") Submit

section
  form(name="form", ng-submit="register(form)" novalidate)
    label Name:
      input(type="text", name="name", ng-model="team.name" required)
    label City:
      input(type="text", name="city", ng-model="team.city" required)
    label Players:
      input(type="text", name="Player 1", ng-model="players.p1" required) 
      input(type="text", name="Player 2", ng-model="players.p2" required)
      input(type="text", name="Player 3", ng-model="players.p3" required)
    button(type="submit") Submit
