section#intro.horizontal-gradient
  div#intro-text
    h2 $stateParams: {{ $stateParams }}
    p Projects:
    div(ng-repeat="project in projects")
      p {{ project.name }}
    div.intro-detail
//-main#main 
  section.project
  Hi, I provide consulting and design production for small to medium sized businesses. I'm focused on digital marketing while also developing for the front-end web. In all endeavors I aim to make the customer happy.
//-aside#controls
  div.navigate-left
  a(ui-sref="two")
    div.navigate-right.enabled
  div.navigate-up
  div.navigate-down