.home 
  .container-top
    #content
      h1 Design, Develop, Consult
      p I invite you to thumb through the following select projects. Also, you may take a look at the 
        a(ui-sref="about") about
        |  page for more context.
      p I designed and built this site. I used nginx, Express 3, Angular 1.2, Mongo, Jade, Stylus, Grunt, and 
        a(href="https://github.com/DaftMonk/generator-angular-fullstack" target="_blank") Yo
        | . Deployed on Ubuntu 14.04 x64 with Digital Ocean and PM2. It was fun and continues to branch.
      br
      a.cta(href="global-lives-project" style="padding: 6px 32px 8px 23px") Projects


  //-#content.home(style="z-index:99999;width:auto;")
    #left(style="margin-top:0")
      h2 Hello!
      p Excited to build upon rather than over. I invite you to thumb through the following select projects. Check the 
        a(ui-sref="about") about
        |  page for more context and projects.
      p I designed and built this site. Using nginx, Express 3, Angular 1.2, Mongo, Jade, Stylus, Grunt, and 
        a(href="https://github.com/DaftMonk/generator-angular-fullstack" target="_blank") Yo
        | . Deployed on Ubuntu 14.04 x64 with Digital Ocean and PM2.    
      br
      a.cta(href="global-lives-project" style="padding: 4px 32px 8px 19px") Projects


            //-img(src="images/projects/me_web.png" style="width:150px;float:right;box-shadow:none")
          //-#right(style="margin-left:174px") 
            div(ng-hide="$stateParams.project === 'global-lives-project'" style="color:#222;margin-bottom:36px")
              h2 Hello!
              p The last four years I’ve worked with local to medium-sized businesses, providing end-to-end service from sales to web production. In all endeavors I aim to find consensus and ensure stakeholder satisfaction.
              p Graduated from UW - Madison with a BA in Marketing and Philosophy
              p You can find me running up Twin Peaks, biking around the city, and learning front-end web technologies.
              p I built this site with Express 3, Angular 1.2, Mongo, Jade, and Sylus. Deployed on Ubuntu 13.10 x64.
            a.cta(style="margin-top:12px" class="{{ $stateParams.project }}" href="global-lives-project") Projects
            The last four years I’ve worked with local to medium-sized businesses. During that time I've produced marketing, design, and web development.
          div(style="clear:both") 
