section#intro.horizontal-gradient-two
  div#intro-text
    h2 Project Detail {{ project.name }}
  section.project

//-aside#controls
  a(ui-sref='/')
    div.navigate-left.enabled
  div.navigate-right
  div.navigate-up
  div.navigate-down