section#intro(class="bg-{{ $stateParams.project }}")
  #main
    #top(ng-if="")
    #left(class="{{ project.layout }} ") 
      img(ng-repeat="image in project.images" ng-src="{{ image }}")
    #right 
      h2 {{ project.name }}
      p {{ project.copy }}
      div(style="width:100px;height:30px;border:3px solid #00ff00;border-radius: 5px")
ui-view.project


    
//-aside#controls
  a(ui-sref='/')
    div.navigate-left.enabled
  div.navigate-right
  div.navigate-up
  div.navigate-down