main#intro(class="bg-{{ $stateParams.project }}")
  #content
    .container-top(ng-show="project.layout === 'top'")
      #top
        .images(ng-switch="isLoading")
          
          #spinnerWrap(ng-switch-when="true")
            #spinner

          .animate(ng-switch-when="false" ng-switch="isSuccessful")
            div(ng-switch-when="true" )
              img(ng-repeat="src in imageLocations" ng-src="{{ src }}" )
            p(ng-switch-when="false")
              | Error loading
      #bottom 
         div(ng-show="project.layout === 'top'")
          h2 {{ project.name }}
          p(ng-repeat="copy in project.copy") {{ copy }}
          ul
            li(ng-repeat="tag in project.tags") {{ tag }}
      #cta 
        a.cta(class="{{ $stateParams.project }}" href=" {{ project.url }} " target="_blank") Visit     
   
    .container-side(ng-hide="project.layout === 'top'") 
      #left
        .images(ng-switch="isLoading")
          
          #spinnerWrap(ng-switch-when="true")
            #spinner
          
          .animate(ng-switch-when="false" ng-switch="isSuccessful")
            p(ng-switch-when="true" )
              img(ng-repeat="src in imageLocations" ng-src="{{ src }}"  )
            p(ng-switch-when="false")
              | POOPS
  
      #right 
        div
          h2 {{ project.name }}
          p(ng-repeat="copy in project.copy") {{ copy }}
          ul
            li(ng-repeat="tag in project.tags") {{ tag }}
        a.cta(class="{{ $stateParams.project }}" href=" {{ project.url }} " target="_blank") Visit
      div(style="clear:both")
