@import "./normalize.css";

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-padding-start: 0;
  -webkit-padding-after: 0;
  -webkit-padding-before: 0;
  -webkit-padding-end: 0;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

html,
body,
#intro {
  width: 100%;
}

body {
  font-family: "myriad-pro",myriad-pro,sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #222;
  border-bottom: 1px solid;
}

p,
ul {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 14px;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 7px;
  letter-spacing: -1px;
}

i {
  cursor: pointer;
  margin-right: 10px;
}

i:hover {
  color: #00f;
  transition: color .2s ease;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 2px;
  moz-border-radius: 2px;
  webkit-border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.container {
  width: 100%;
  height: 100%;
}

menu {
  position: fixed;
  width: auto;
  height: 100%;
  z-index: 30;
  left: 0;
  top: 0;
}

menu .top-menu {
  padding: 62px 12px 12px 100px;
}

menu .sub-menu {
  font-size: 14px;
  bottom: 12px;
  left: 100px;
  position: fixed;
}

menu .sub-menu a.social {
  border-bottom: none;
}

#controls {
  position: relative;
  width: 100px;
  height: 30px;
  z-index: 30;
  border: 1px solid rgba(255,255,255,0.9);
  border-radius: 5px;
}

#controls #navigate-forward {
  opacity: 1;
  position: absolute;
  padding: 0;
  border: 0;
  right: 0;
  cursor: pointer;
}

#controls #navigate-back {
  opacity: 1;
  position: absolute;
  padding: 0;
  border: 0;
  left: 0;
  cursor: pointer;
}

#controls .hidden {
  opacity: 0;
  transition: all .2s ease;
}

#controls .seen {
  opacity: 1;
  transition: all .2s ease;
}

.home-image {
  opacity: 0;
}

.home-bg,
.horizontal-gradient {
  background: #fd500d;
  background: linear-gradient(to right,#fd500d 0%,#ff3535 100%);
}

.home {
  margin-left: 250px !important;
  padding-left: 0 !important;
}

.about {
  background-color: #ffe534;
}

.bg-global-lives-project {
  background-color: #42c3ec;
  color: #eee;
}

.bg-global-lives-project .cta:hover {
  color: #fff;
}

.bg-orpheum {
  background-color: #aae6ff;
}

.bg-thingsthings {
  background-color: #40e0d0;
}

.bg-thingsthings .cta:hover {
  color: #fff;
}

.global-lives-project {
  color: #fff;
}

.menu-global-lives-project {
  background: linear-gradient(to right,#000 200px,rgba(0,0,0,0) 400px) !important;
  transition: background 0ms linear;
}

.bg-pictage-inc {
  background: #90dbff;
  color: #222;
}

.bg-homme {
  background: #fff;
}

.bg-home {
  background: url("http://p.michaelepierce.com/img/feb%2017%20(9).JPG");background-size:cover;opacity:1;transition:opacity .5s ease;-o-transition:opacity .5s ease;-moz-transition:opacity .5s ease;-webkit-transition:opacity .5s ease}#spinnerWrap,#intro-text{position:absolute;left:50%;top:50%;z-index:99}#spinnerWrap{left:100px;top:250px;width:48px;height:48px;opacity:1;}#spinnerWrap.fadeOut{opacity:0}#spinner{position:relative;width:48px;height:48px;display:block;background-image:url("http://michaelepierce.info/images/spinner@2x_red.png");
  background-size: 48px 48px;
  -webkit-animation-name: spin;
  -webkit-animation-duration: .8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: .8s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
}

#intro {
  position: relative;
  height: auto;
  min-height: 100%;
}

#intro-text {
  color: #fff;
  width: 300px;
  height: auto;
  margin-left: -150px;
  margin-top: -100px;
  text-align: center;
}

.intro-detail {
  text-align: justify;
}

#content {
  width: 628px;
  margin: 0 auto;
  padding-top: 162px;
  padding-bottom: 100px;
}

#top {
  width: 100%;
  height: 262px;
  opacity: 1;
  transition: opacity .5s ease;
}

#left {
  width: 300px;
  margin-right: 21px;
  float: left;
  opacity: 1;
  margin-top: -8px;
}

#right {
  max-width: 300px;
  margin-left: 333px;
  margin-right: 12px;
  position: fixed;
}

.project {
  padding: 250px 0;
}

.cta {
  cursor: pointer;
  width: 100px;
  height: 36px;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: 6px 32px 8px 32px;
  transition: all .2s ease;
}

.cta:hover {
  color: #fff;
  border-color: rgba(255,255,255,0.13);
  background-color: rgba(255,255,255,0.2);
  transition: all .2s ease;
}

.animate.ng-animate {
  transition: opacity 1s ease;
}

.animate.ng-leave.ng-leave-active,
.animate.ng-enter {
  opacity: 0;
}

.animate.ng-leave,
.animate.ng-enter.ng-enter-active {
  opacity: 0;
}

[ui-view] {
  height: 100%;
  position: absolute;
  width: 100%;
}

.ui-view-container {
  position: relative;
  height: 100%;
  width: 100%;
}

[ui-view].ng-enter,
[ui-view].ng-leave {
  transition-timing-function: linear;
  transition-duration: 300ms;
  transition-property: opacity;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter.ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave.ng-leave-active {
  opacity: 0;
}

@media all and (max-width:1140px) {
  menu {
    width: 100%;
    height: auto;
  }

  menu .top-menu {
    padding: 62px 12px 12px 6px;
    margin-left: 52%;
  }

  menu .sub-menu {
    margin-left: 52%;
    left: 0;
  }

  .about-div {
    margin: 0;
    width: 50%;
    padding: 162px 0 100px 24px;
  }
}

@media all and (max-width:640px) {
  .home {
    margin-left: 60px !important;
  }

  #top {
    height: auto;
  }

  #content {
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
  }

  #left {
    width: 47%;
  }

  #right {
    max-width: 47%;
    margin-left: 52%;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateZ(0);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
  }
}

@-ms-keyframes spin {
  0% {
    -webkit-transform: rotateZ(0);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateZ(0);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
  }
}