@import "./normalize.css";

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-padding-start: 0;
  -webkit-padding-after: 0;
  -webkit-padding-before: 0;
  -webkit-padding-end: 0;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

html,
body,
#intro {
  width: 100%;
}

body {
  font-family: Arial;
  font-size: 16px;
  line-height: 21px;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  background-color: #181818;
}

a {
  text-decoration: none;
  color: #222;
  border-bottom: 1px solid;
}

p,
ul {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 14px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
  letter-spacing: -1px;
}

i {
  cursor: pointer;
  margin-right: 10px;
}

i:hover {
  color: #00f;
  transition: color .2s ease;
}

img {
  width: 100%;
  height: auto;
  border-radius: 2px;
  moz-border-radius: 2px;
  webkit-border-radius: 2px;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  height: 100%;
}

menu {
  position: fixed;
  width: auto;
  height: 100%;
  z-index: 30;
  left: 0;
  top: 0;
  margin-left: 50%;
  padding: 0 15px;
  transition: .3s ease;
}

menu .top-menu {
  padding: 20px 0 0 0;
  transition: .3s ease;
  width: 145px;
}

menu .sub-menu {
  font-size: 14px;
  bottom: 12px;
  position: absolute;
  transition: .3s ease;
  line-height: 19px;
}

menu .sub-menu a.social {
  border-bottom: none;
}

#controls {
  margin-top: 5px;
  position: relative;
  width: 100px;
  height: 30px;
  z-index: 30;
  border: 1px solid rgba(255,255,255,0.9);
  border-radius: 5px;
}

#controls #navigate-forward {
  opacity: 1;
  position: absolute;
  padding: 0;
  border: 0;
  right: 0;
  cursor: pointer;
}

#controls #navigate-back {
  opacity: 1;
  position: absolute;
  padding: 0;
  border: 0;
  left: 0;
  cursor: pointer;
}

#controls .hidden {
  opacity: 0;
  transition: all .2s ease;
}

#controls .seen {
  opacity: 1;
  transition: all .2s ease;
}

.home-image {
  opacity: 0;
}

.home-bg,
.horizontal-gradient {
  background: #fd500d;
  background: linear-gradient(to right,#fd500d 0%,#ff3535 100%);
}

.home {
  background-size: cover;
  background-color: #181818;
  color: #fff;
  min-height: 100%;
  min-width: 100%;
  right: 0;
  z-index: -999;
  opacity: 1;
}

.home h1 {
  line-height: 32px;
  margin: .67em 0;
  font-size: 2em;
}

.home p {
  font-size: 24px;
  line-height: 32px;
}

.home a {
  color: #fff;
}

.home .cta {
  font-size: 13px;
}

.bg-mozio {
  background-color: #2c3958;
  color: #fff;
}

.about {
  background-color: #ffe534;
}

.bg-global-lives-project {
  background-color: #90dbff;
}

.bg-global-lives-project .cta:hover {
  color: #fff;
}

.bg-orpheum {
  background-color: #90dbff;
}

.bg-thingsthings {
  background-color: #90dbff;
}

.bg-thingsthings .cta:hover {
  color: #fff;
}

.global-lives-project {
  color: #fff;
}

.menu-global-lives-project {
  background: linear-gradient(to right,#000 200px,rgba(0,0,0,0) 400px) !important;
  transition: background 0ms linear;
}

.bg-pictage-inc {
  background: #90dbff;
}

.bg-homme {
  background: #fff;
}

.bg-home {
  background-size: cover;
  opacity: 1;
  transition: opacity .5s ease;
}

#spinner {
  position: relative;
  width: 48px;
  height: 48px;
  display: block;
  background-image: url("http://michaelepierce.info/images/spinner@2x_red.png");
  background-size: 48px 48px;
  -webkit-animation-name: spin;
  -webkit-animation-duration: .8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: .8s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
}

#intro {
  height: auto;
  min-height: 100%;
}

#intro-text {
  color: #fff;
  width: 300px;
  height: auto;
  margin-left: -150px;
  margin-top: -100px;
  text-align: center;
}

.intro-detail {
  text-align: justify;
}

#spinnerWrap,
#intro-text {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 99;
}

#spinnerWrap {
  left: 25px;
  top: 25px;
  width: 48px;
  height: 48px;
  opacity: 1;
}

#spinnerWrap.fadeOut {
  opacity: 0;
}

#content {
  width: 100%;
  max-width: 628px;
  margin: 0 auto;
  padding: 125px 0 100px 0;
  transition: .3s ease;
  opacity: 0;
  -webkit-animation: fadein .5s ease forwards;
  -moz-animation: fadein .5s ease;
  -ms-animation: fadein .5s ease;
  -webkit-animation-delay: .75s;
}

.images {
  opacity: 0;
  -webkit-animation: fadein .5s ease forwards;
  -moz-animation: fadein .5s ease;
  -ms-animation: fadein .5s ease;
  -webkit-animation-delay: 1.5s;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container-top {
  padding: 0 15px 0 15px;
}

.container-top #top {
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity .5s ease;
}

.container-side {
  padding: 0 0 0 0;
}

.container-side #left {
  width: 47%;
  max-width: 300px;
  float: left;
  opacity: 1;
}

.container-side #right {
  width: 47%;
  max-width: 300px;
  margin-left: 50%;
  position: fixed;
  padding-left: 15px;
}

.container-side #right p {
  line-height: 18px;
  margin-bottom: 8px;
}

#cta {
  margin-top: 20px;
}

.cta {
  display: block;
  cursor: pointer;
  width: 100px;
  height: 36px;
  border: 1px solid #fff;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
  padding: 6px 31px 6px 34px;
  transition: all .2s ease;
}

.cta:hover {
  color: #fff;
  border-color: rgba(255,255,255,0.13);
  background-color: rgba(255,255,255,0.2);
  transition: all .2s ease;
}

.animate.ng-animate {
  transition: opacity 1s ease;
}

.animate.ng-leave.ng-leave-active,
.animate.ng-enter {
  opacity: 0;
}

.animate.ng-leave,
.animate.ng-enter.ng-enter-active {
  opacity: 0;
}

[ui-view] {
  height: 100%;
  position: absolute;
  width: 100%;
}

.ui-view-container {
  position: relative;
  height: 100%;
  width: 100%;
}

[ui-view].ng-enter {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transition-property: all;
}

[ui-view].ng-leave {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transition-property: all;
}

[ui-view].ng-enter {
  opacity: 1;
}

[ui-view].ng-enter.ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave.ng-leave-active {
  opacity: 0;
}

@media all and (max-width:1140px) {
  .about-div {
    margin: 0;
    width: 50%;
    padding: 162px 0 100px 24px;
  }
}

@media all and (min-width:640px) {
  menu {
    transition: .3s ease;
    margin-left: 100px;
  }

  menu .top-menu {
    padding-top: 62px;
  }

  .container-top #bottom {
    width: 47%;
    float: left;
  }

  .container-top #cta {
    margin-top: 0;
    width: 47%;
    float: left;
    margin-left: 15px;
  }

  .container-top #spinnerWrap,
  .container-top #intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99;
  }

  .container-top #spinnerWrap {
    left: 100px;
    top: 250px;
    width: 48px;
    height: 48px;
    opacity: 1;
  }

  .container-top #spinnerWrap.fadeOut {
    opacity: 0;
  }

  .container-top .cta {
    float: left;
  }

  .container-side #left {
    margin-right: 21px;
  }

  .container-side #right {
    margin-left: 333px;
    margin-right: 12px;
    position: fixed;
  }

  #top {
    height: 262px;
  }

  #content {
    padding: 160px 15px 100px 15px;
    transition: .3s ease;
  }

  #left {
    width: 47%;
  }

  #right {
    max-width: 47%;
    margin-left: 52%;
  }

  img {
    margin-bottom: 20px;
  }
}

@media all and (max-height:580px) {
  .sub-menu {
    opacity: 0;
    z-index: -99;
    transition: .3s ease;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateZ(0);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateZ(0);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}